.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*background-color: lightblue;*/
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  text-align: center;
}

.menu-title {
  font-size: 18px;
  font-weight: 600;
  color: #FF4500;
  
  text-transform: uppercase;
  padding-top: 5rem;
}

.menu-section {
  width: 100%;
  margin-top: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /*border: solid black 1px;*/
}

.menu-card {
  width: 10rem;
  height: 13rem;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: lightgray;
  border-radius: 0.5rem;  
	box-shadow: 1px 1px rgba(0, 0, 0, 0.2);

  color: dimgray;
  cursor: pointer;
}

.card-image {
  width: 9rem;
  height: 50%;
  margin-bottom: 0.5rem;

  border-radius: 0.2rem;
}

.card-title {
  height: 10%;
  margin-bottom: 0.25rem;

  font-size: 14px;
  font-weight: bold;
}

.card-description {
  height: 30%;
  width: 95%;
  margin-bottom: 0.25rem;
  max-width: 18ch;

  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  /*white-space: pre;  quebra e fica uma linha somente*/

  /*Faz com o texto quebrado fique com mais de uma linha*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-footer {
  height: 10%;
  width: 95%;
  margin-bottom: 0.2rem;

  display: flex;
  justify-content: end;

  font-size: 12px;
  font-weight: 400;
}

