@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
                           
* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    width: full;
    margin: 0;
    padding: 0;

 }
 
 html, body {               
     background-color: #E5E5E5;
     color: #000;

     overflow-y: auto;
     scroll-behavior: smooth;
 }
 
 a, a:hover {
   text-decoration: none;   
   color: unset;            
 }

 
