.menu-list-container {
	background-color: lightgray;

	display: flex;
	align-items: center;
  gap: 2rem;

  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

.menu-list-item {
	font-size: 16px;
	font-weight: 400;
  align-items: center;
	text-align: center;

	height: 3.5rem;
	padding: 0.6rem;
	border-bottom: solid transparent 3px;
	border-radius: 3px;
}

.menu-list-item:hover {
	border-bottom: solid 3px #ea580c;
	color: #ea580c;
	
}

@media(max-width: 900px) {
  .menu-list-container {
    overflow-x: auto;
  }
}
